- content_for :actions do
  = link_to 'Show', @team, class: 'ui button'
  = link_to 'Back', teams_path, class: 'ui button'
  = link_to 'Destroy', @team, class: 'ui negative button', method: 'delete'

%h1 Editing team

= render 'form'
