-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "ui #{name.to_s == 'notice' ? 'success' : 'negative'} message"}
      = content_tag :p, msg, :id => "flash_#{name}"
