%a.header.item{:href => root_path}
  %img.logo{:src => '/assets/logo.png'}

- if can_read_teams?
  %a.item{href: teams_path}
    Teams

- if can_read_monsters?
  %a.item{href: monsters_path}
    Monsters

.right.menu
  - if current_user.present?
    .item
      = current_user.uid
    .item
      %a.ui.negative.labeled.icon.button{href: destroy_user_session_path, data: { method: 'delete' }}
        %i.sign.out.icon
        Sign out
  - else
    .item
      %a.ui.facebook.button{href: user_omniauth_authorize_path('facebook')}
        %i.facebook.icon
        Sign in
